@import url("https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,300;0,500;1,100;1,200;1,500&display=swap");
:root {
  --base-txt-color: #222;
  --heading-color: #333;
  --base-font-family: "Work Sans", sans-serif;
  --body-bg: #414448;
  --brand-color: #e96200;
  --link-color: --brand-color;
  --app-header-height: 60px;
  --app-header-txt-color: rgb(5, 5, 5);
  --app-header-title-font-size: 1.6em;
  --sl-color-primary-50: #f4f4f4;
  --sl-color-primary-100: #ffd5b6;
  --sl-color-primary-200: #ffb783;
  --sl-color-primary-300: #ff9a50;
  --sl-color-primary-400: #ff7c1d;
  --sl-color-primary-500: #e96200;
  --sl-color-primary-600: #b64d00;
  --sl-color-primary-700: #833700;
  --sl-color-primary-800: #502200;
  --sl-color-primary-900: #1d0c00;
  --sl-focus-ring-color-primary: rgba(233, 98, 0, 0.1);
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  -webkit-tap-highlight-color: rgba(255, 255, 255, 0);
}

body {
  padding: 0;
  margin: 0;
  color: var(--base-txt-color);
  font-family: var(--base-font-family);
  font-weight: 300;
  background: var(--body-bg);
  height: 100vh;
}

h1,
h2,
h3,
h5,
h6 {
  margin: 0 0 0.5em;
  color: var(--heading-color);
}

a {
  color: var(--link-color);
}

.app-splash {
  position: fixed;
  background: var(--body-bg);
  color: #777;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.app-splash .app-logo {
  width: 180px;
  display: block;
  margin-bottom: 1em;
}

.calign {
  text-align: center;
}

.large-text {
  font-size: 1.6em;
}

.brand-color {
  color: var(--brand-color);
}

.generic-entry {
  -webkit-box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.07);
          box-shadow: 0px 3px 5px rgba(0, 0, 0, 0.07);
  border-radius: 5px;
  margin-bottom: 0.5em;
  padding: 1em;
  background: #fff;
}

#root {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  overflow: hidden;
}

.page-content {
  position: absolute;
  top: var(--app-header-height);
  left: 0;
  right: 0;
  bottom: 0;
  overflow-y: scroll;
  padding: 1em;
}

.page-content.no-pad {
  padding: 0;
}

.page-centered {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.signinup-box,
.signup-box {
  max-width: 320px;
  text-align: center;
}

.signinup-logo {
  width: 200px;
  margin-bottom: 1em;
}

h1 {
  color: white;
}

p {
  color: white;
}

h2,
h3,
h4 {
  color: white;
}

#input1.input__control {
  background: #515360;
}

.input-group {
  background: #515360;
}

.social-btn {
  width: 25%;
  height: 100%;
  margin: auto;
}

.social-buttons {
  margin: auto;
  width: 70%;
  height: 90px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.social-btn.a {
  background-image: url("../../static/images/facebook.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.social-btn.b {
  background-image: url("../../static/images/google.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.social-btn.c {
  background-image: url("../../static/images/instagram.svg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
}

.line-divider {
  width: 15%;
  height: 1px;
  background: #919191;
  border-radius: 50px;
  margin: auto;
  margin-top: 5%;
  margin-bottom: 5%;
}

#TOO-BAD {
  color: #ff7300;
}

.page-content a {
  color: #ff7300;
}

#signup-header {
  margin-bottom: 20%;
}

.input-group.last {
  margin-bottom: 10%;
}

.guide-step {
  padding: 1em;
  margin: 1.5em auto;
  max-width: 600px;
}

.guide-step img {
  width: 100%;
  height: auto;
}

.tattoos-grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tattoos-grid .tattoo-card {
  width: calc(33.3% - 1em);
  margin: 0.5em;
}

.tattoos-grid-home {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.tattoos-grid-home .tattoo-card {
  width: calc(20% - 1em);
  height: 35%;
  margin: 0.5em;
}

.tattoo-dialog {
  --width: 70%;
}

.tattoo-dialog::part(body) {
  margin-top: -4em;
}

.invis-div {
  height: 3%;
}

.profile-divider {
  width: 100%;
  height: 1px;
  background-color: #8a8a8a;
  margin-top: 2%;
  margin-bottom: 2%;
}

.edit-class-btn {
  position: absolute;
  z-index: 10;
  right: 3%;
  top: 2%;
}

.edit-class-btn::part(base) {
  background-color: var(--brand-color);
  border: none;
  color: white;
}

.user-info {
  text-align: left;
  overflow-y: hidden;
  overflow-x: hidden;
}

.other-sports {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 50px;
  margin-top: -20px;
}

.user-info h4 {
  font-weight: 500;
}

.profile-bio {
  font-size: 0.8em;
}

.profile-availability {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  width: 100%;
  height: 50px;
  margin-top: -20px;
}

.wk-day {
  margin: auto;
  color: #b3b3b3;
}

.user-info {
  background: #9d9d9d57;
  border-radius: 30px 30px 0 0;
  width: 100vw;
  margin-left: -4vw;
  padding: 1em;
  padding-top: 1.5em;
  height: 70vh;
  -webkit-box-shadow: 0px -20px 30px 0px #1e1e1e80;
          box-shadow: 0px -20px 30px 0px #1e1e1e80;
  -webkit-box-shadow: 0px -2px 1px 0px #ffffff8c;
          box-shadow: 0px -2px 1px 0px #ffffff8c;
}

.btm-nav {
  z-index: 11;
  position: fixed;
  width: 100%;
  height: 14%;
  bottom: 0;
  background-image: url(../../static/images/nav-fade.svg);
  background-size: contain;
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.btm-nav-btn {
  margin: auto;
}

.btm-nav-btn::part(base) {
  font-size: 1.5em;
  border: none;
  color: white;
  margin-bottom: -30px;
}

#edit-prof-av::part(base) {
  -webkit-box-shadow: 0px 10px 10px 0px #00000040;
          box-shadow: 0px 10px 10px 0px #00000040;
}

.custom-file-upload {
  z-index: 100;
  padding: 10px 10px 7px 10px;
  color: #fff;
  cursor: pointer;
  background: var(--brand-color);
  border-radius: 50%;
  margin: auto;
  vertical-align: top;
}

#edit-prof-av {
  left: 5vw;
}

#location-tag {
  font-weight: 350;
}

#rank-text {
  font-size: 0.75em;
  margin-top: 2em;
}

input[type="file"] {
  display: none;
}

.file-btn2 {
  color: #4400ff;
}

.input-bar2::part(base) {
  background-color: #515360;
  border: 2px #5b5e6d solid;
}

.input-bar2::part(base) {
  color: white;
  margin-top: 1%;
  margin-bottom: 1%;
}

.input-bar2.b::part(base) {
  color: white;
  margin-top: 1%;
  margin-bottom: 1%;
}

.input-bar2.b::part(textarea) {
  color: white;
}

.input-bar2::part(input) {
  color: white;
}

.submit-btn2::part(base) {
  -webkit-box-shadow: 0px 10px 10px 0px #0000001e;
          box-shadow: 0px 10px 10px 0px #0000001e;
}

@media all and (max-width: 768px) {
  .signinup-box {
    width: 90%;
    max-width: none;
  }
}

.input-group {
  margin-bottom: 0.5em;
  background-color: #414448;
}

.page-form {
  max-width: 700px;
}

.input-bar::part(base) {
  background-color: #515360;
  border: 2px #5b5e6d solid;
}

.input-select::part(base) {
  background-color: #515360;
  border: 2px #5b5e6d solid;
}

.input-bar::part(base) {
  color: white;
  margin-top: 1%;
  margin-bottom: 1%;
}

.input-bar::part(input) {
  color: white;
}

.submit-btn::part(base) {
  border-radius: 20px;
  width: 70%;
  margin-top: 5%;
  margin-bottom: 5%;
  -webkit-box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
          box-shadow: 0px 4px 20px rgba(0, 0, 0, 0.4);
}

sl-dialog::part(title) {
  font-weight: 500;
  font-size: 1.6em;
}

@media all and (max-width: 768px) {
  sl-dialog::part(panel) {
    width: 100%;
    height: 100%;
    max-height: none;
    max-width: none;
  }
}

#toasts {
  position: fixed;
  left: 50%;
  top: 1em;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  z-index: 999;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.toast-entry {
  background: #fff;
  margin: 0 auto;
  color: #333;
  border-radius: 200px;
  -webkit-box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.14);
          box-shadow: 0px 3px 25px rgba(0, 0, 0, 0.14);
  padding: .7em 1.3em;
  font-size: 1em;
  margin-bottom: .25em;
  text-align: center;
  -webkit-transition: all .2 ease;
  transition: all .2 ease;
}

.toast-entry.is-error {
  background: #d4195d;
  color: #fff;
}
/*# sourceMappingURL=master.css.map */